parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'sqlite::memory:'
	user:
	password:

extensions:
	api: Apitte\Core\DI\ApiExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

api:
    debug: %debugMode%
    catchException: true

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension

console:
	name: Acme Project
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://example.com

di:
	export:
		parameters: no
		tags: no
