parameters:
	doctrine:
		host: mysqldb
		user: my_user
		password: my_password
		dbname: my_database

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter

includes:
	- doctrine.neon

extensions:
	api: Apitte\Core\DI\ApiExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

api:
    debug: %debugMode%
    catchException: true

console:
	name: CHANGEME
	version: '1.0'
	catchExceptions: true
	autoExit: true

di:
	export:
		parameters: no
		tags: no
