extensions:
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    doctrine.cache: Nettrine\Cache\DI\CacheExtension

doctrine.dbal:
	debug:
		panel: %debugMode%
	connection:
		driver: pdo_mysql
		host: %doctrine.host%
		dbname: %doctrine.dbname%
		user: %doctrine.user%
		password: %doctrine.password%

doctrine.orm.attributes:
    mapping:
        App\Model\Database: %appDir%/Model/Database